# Visual Studio
*.suo
*.user
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/
packages/

# MonoDevelop
*.userprefs
*.usertasks

# Unity
Library/
Temp/

# Specific
SpriterDotNet.Unity/*.csproj
SpriterDotNet.Unity/*.sln
SpriterDotNet.Unity/ProjectSettings
SpriterDotNet.Unity/Assets/SpriterDotNet/Lib/*.pdb
SpriterDotNet.Unity/Assets/SpriterDotNet/Lib/*.pdb.meta
!SpriterDotNet.Unity/Assets/SpriterDotNet/Lib/*.dll